<div class="drop-down">
  <button class="dd-button" onclick={{action "open"}}>
    <h2>{{selection}}</h2>
  </button>
  <div class="dd-options" onclick={{action "setSelection"}}>
    <a class="dd-default" disabled selected>{{@default}}</a>
    {{yield (hash
        option=(component 'drop-down-option' action 'setSelection' selected)
      )}}
  </div>
</div>
